{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"> {% if title %}
    <title>Learn - {{title}}</title>
    {% else %}
    <title> Learn </title>
    {% endif %} {% block styles %} {% bootstrap_css %} {% endblock %}
</head>

<body>
    <div class="container">
        <div class="container mt-3 pt-3">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'subject:homepage' %}" title="to homepage">Learn</a>
                {% if user.is_authenticated %}
                <div class="mr-5 pr-5" style="color:black;">
                    <a href="{% url 'subject:logout' %}" title="logout">logout</a>
                </div>
                {% endif %}
            </nav>
        </div>
        <div class="container mt-3 pt-3">
            {% block body %} {% endblock %}
        </div>

    </div>
</body>

</html>
