{% extends "base.html" %} {% block body %}
<h1> {{subject}}</h1>
<h3>Topics in {{subject}} are:</h3> {% for chapter in chapters %}
<div class="row">
    <a href="{% url 'subject:chapter_topics' chapter.id %}"><h2>{{chapter.number}}. {{chapter.title}}</h2></a>
</div>
{% endfor %}
<div class="row mt-3 pt-3">
    <h3>You can add more chapters here</h3>
</div>
<div class="row">
    <form method="POST">
        {% csrf_token %} {{ chapter_form.as_p}}
        <button type="submit" class="btn btn-outline-success"> Add subject </button>
    </form>
</div>
{% endblock %}
